body > div {
  margin: 100px 100px;
  width: 350px;
  height: 100px;
  background: #000;
  color: #7FFF00;
  font-family: Arial;
  font-weight: 500;
  font-size: 3.5em;
  text-align: center;
  line-height: 100px;
  transition: all 0.5s ease;
}

.circle:hover {
  border-radius: 100%;
}